* {
  box-sizing: border-box;
}
div#month {
  margin:auto;
  display: inline-block;
  /*float: right;*/
  width: 69vw;
  height: 66vh;
}
div#shows {
  text-align: center;
  /*margin: auto;*/
  /*width: inherit;*/
}
span.date-time-title{
  display: inline-block;
}
button.ticket-link, a.venue-link{
  display: inline-block;
}

/*Usersdash*/
div.row.ud-row-one, div.row.ud-row-two {
  margin: 20px 0 20px 0;
}
