* {
  box-sizing: border-box;
}

html, body, .row {
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}
/* Navbar */
div#navbar h1{

font-family: 'Special Elite', cursive;
font-size: 1.5em !important;
padding-top: 17.5px;
}
div#navbar {
  height: 35px;
  line-height: 35px;
}
/* Calendar*/
div#month {
  margin:auto;
  display: inline-block;
  width: 100%;
  height: 66vh;
}
div.rbc-day-bg {
  border-radius: 10%;
  background-color: #eee;
  margin: 20px;
  min-width: 50px;
  min-height: 50px;
}
.rbc-month-view{
  border: 0;
}
.rbc-month-row + .rbc-month-row {
  height: 150px;
  min-width: 250px;
  min-height: 50px;
  border: 0;
}
.rbc-month-view, .rbc-header, .rbc-header
.rbc-day-bg, .rbc-day-bg {
  border-left: 0 !important;
  border-bottom: 0 !important;
}
.rbc-date-cell {
    display: inline-flex;
    justify-content: center;
    font-size: 20px;
    padding-right: 5px;
    text-align: center;
    min-height: 100px;
    max-height: 50px;
    line-height: 90px;
}
.rbc-toolbar button {
  font-size: 1em;
  border: 0;
}
div#shows {
  text-align: center;
}
span.date-time-title{
  display: inline-block;
}
button.ticket-link, a.venue-link{
  display: inline-block;
}

/*Usersdash*/
div.row.ud-row-one, div.row.ud-row-two {
  margin: 50px 0 20px 0;
}
div.ud-followers-badge {
  display: inline-block;
}
div.six.columns {
background-color: #eee;
margin-top: 10%;
}

/* login / signup */
button.button.six.columns.offset-by-three {
  background-color: #000;
  color: white;
}
button.button.six.columns.offset-by-three.backto {
  font-size: 8px;
  text-align: center;
  padding: 0;
}
button.button.six.columns.offset-by-three.btn {
  font-size: 8px;
  text-align: center;
  padding: 0;
}
div#Auth{
  width: 100%;
  height: 100%;
}
div#login {
  postion: absolute;
  margin: 0 auto;
  margin-left: 39%;
  height: 100%;
  line-height: 100%;
  padding-bottom: 25px;
}
div.twelve.columns {
  padding: 0;
}
div#signup {
  postion: absolute;
  margin: 0 auto;
  margin-left: 39%;
  height: 100%;
  line-height: 100%;
}
input#first_name {
  position: relative;
  display: block;
}
div.three.columns {
  top: 25%;
  opacity: 0.925;
  background-color: #fff;
  margin-top: -25%;
  position: absolute;
  margin-bottom: 20px;
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  margin: 0 auto;
  line-height: 100%;
}
div.three.columns.sign {
  top: 15%;
  opacity: 0.95;
  background-color: #fff;
  margin-top: -25%;
  position: absolute;
  margin-bottom: 20px;
  display: block;
  padding-top: 25px;
  margin: 0 auto;
  line-height: 100%;
}
div.twelve.columns {
padding-top: 20px;
}
label {
  padding: 0;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: bolder;
}

/* background images auth */
img#image {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

img {
  box-sizing: border-box;
  width: 100%  !important;
  height: 100% !important;
}

#masonry-column-container {
    box-sizing: border-box;
    break-inside: avoid;
    margin: 1.5em 0;
    padding: 0;
    column-count: 6;
    column-fill: auto;
    column-gap: 1.5em;
}

.brick-item {
    display: inline-block;
    background: #eee;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #bbb;
}
div#wrapper {
  /*top: 50%;*/
  transform: translateY(7%);
}
