* {
  box-sizing: border-box;
}

html, body, .row {
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}
/* Navbar */
div#navbar{
font-family: monospace;
text-transform: uppercase;
font-size: 1em !important;
}
/* Calendar*/
div#month {
  margin:auto;
  display: inline-block;
  width: 100%;
  height: 66vh;
}
div.rbc-day-bg {
  border-radius: 10%;
  background-color: #eee;
  margin: 20px;
  min-width: 50px;
  min-height: 50px;
}
.rbc-month-view{
  border: 0;
}
.rbc-month-row + .rbc-month-row {
  height: 150px;
  min-width: 250px;
  min-height: 50px;
  border: 0;
}
.rbc-month-view, .rbc-header, .rbc-header
.rbc-day-bg, .rbc-day-bg {
  border-left: 0 !important;
  border-bottom: 0 !important;
}
.rbc-date-cell {
    display: inline-flex;
    justify-content: center;
    font-size: 20px;
    padding-right: 5px;
    text-align: center;
    min-height: 100px;
    max-height: 50px;
    line-height: 90px;
}
.rbc-toolbar button {
  font-size: 1em;
  border: 0;
}
div#shows {
  text-align: center;
}
span.date-time-title{
  display: inline-block;
}
button.ticket-link, a.venue-link{
  display: inline-block;
}

/*Usersdash*/
div.row.ud-row-one, div.row.ud-row-two {
  margin: 50px 0 20px 0;
}
div.ud-followers-badge {
  display: inline-block;
}
div.six.columns {
background-color: #eee;
margin-top: 10%;
}

/* login / signup */
button.button.six.columns.offset-by-three {
  background-color: #000;
  color: white;
}
button.button.six.columns.offset-by-three.backto {
  font-size: 8px;
  text-align: center;
  padding: 0;
}
button.button.six.columns.offset-by-three.btn {
  font-size: 8px;
  text-align: center;
  padding: 0;
}
div#Auth{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div#login {
  background-image: url('../img/posters.png');
  postion: absolute;
  height: 100%;
  line-height: 100%;
  padding-bottom: 25px;
}
div.twelve.columns {
  padding: 0;
}
div#signup {
  postion: absolute;
  height: 100%;
  line-height: 100%;
}
input#first_name {
  position: relative;
  display: block;
}
div.four.columns {
  top: 33%;
  background-color: #eee;
  margin-top: -25%;
  position: absolute;
  margin-bottom: 20px;
  display: block;
  padding-bottom: 25px;
  padding-top: 25px;
  margin: 0 auto;
  line-height: 100%;
}
div.four.columns.sign {
  top: 15%;
  background-color: #eee;
  margin-top: -25%;
  position: absolute;
  margin-bottom: 20px;
  display: block;
  padding-top: 25px;
  margin: 0 auto;
  line-height: 100%;
}
div.twelve.columns {
padding-top: 20px;
}
label {
  padding: 0;
  text-transform: uppercase;
  font-size: 0.5em;
  font-weight: bolder;
}
